.about{
    background-color: #1E2749;
}
.txt-justify{
    text-align: justify;
    color: rgba(255, 255, 255, 0.794);
}
.stack-img{
    width: 110px;
    height: 100px;
    margin: 10px;
    border-radius: 20px;
}
.bio-data{
    color: rgba(255, 255, 255, 0.876);
}
.f-bio{
    color: #E9AC04;
}
.t-img{
    height: 100px;
    width: 110px;
}