.header{
    background-color: #1E2749;
}
#name-style{
    font-size: 45px;
    font-weight: bold;
    color: #E9AC04;
}
.type-writer{
    font-size: 35px;
    font-weight: 500;
}
.margin-left{
    margin-right: 10px;
}