.header{
    background-color: #1E2749;
}
#name-style{
    font-size: 45px;
    font-weight: bold;
    color: #E9AC04;
}
.type-writer{
    font-size: 35px;
    font-weight: 500;
}
.margin-left{
    margin-right: 10px;
}
.download-btn{
    border: 0;
    border-radius: 5px;
    padding: 7px 15px;
    background-color: #E9AC04;
    color: white;
    margin-top: 20px;
}