.review-card{
    width: 320px;
    height: 260px;
    margin: 30px;
    padding: 10px;
    box-shadow: 3px 3px 5px #E9AC04;
}
.review-image{
    height: 100px;
    width: 120px;
  
    transform: translateY(-40px);
    border: 5px solid #E9AC04;
}
.review-name{
    margin-top: -35px;
}
.text-justify{
    text-align: justify;
}